---
import Link from '@components/links/Link.astro'
import type { DataPercentageBikelanes } from './CardPercentageBikelanes.astro'

type Props = { childData: DataPercentageBikelanes }
const { childData } = Astro.props
---

<figure class="not-prose leading-snug">
  <figcaption class="flex items-center justify-between">
    <div class="truncate">
      {childData.path ? <Link to={childData.path}>{childData.name}</Link> : childData.name}
    </div>
    <div>{childData.percentage.toLocaleString('de-DE', { style: 'percent' })}</div>
  </figcaption>
  <div class="mt-1 flex w-full">
    <div
      style={{ width: `max(0px, ${childData.percentage * 100}%)` }}
      class="h-3.5 rounded-sm bg-amber-400"
    >
    </div>
  </div>
</figure>
