---
import { Link } from '@components/Link/Link'
import type { DataLength } from './CardLength.astro'
import Tooltip from './Tooltip.astro'
import { twJoin } from 'tailwind-merge'

type Props = { childData: DataLength; hideGraph?: boolean }
const { childData, hideGraph } = Astro.props
---

<figure class="not-prose group/chart leading-snug">
  <figcaption class="flex items-center justify-between">
    <div class="truncate">
      {childData.path ? <Link to={childData.path}>{childData.name}</Link> : childData.name}
    </div>
    <div class="ml-2 whitespace-nowrap">
      {childData.bike_length.toLocaleString('de-DE')}
      <span class="hidden xl:inline">km</span>
      /
      {childData.road_length.toLocaleString('de-DE')} km
    </div>
  </figcaption>
  <Tooltip
    text={`Radinfrastruktur ${childData.bike_length.toLocaleString('de-DE')} km \n\nStraßennetz ${childData.road_length.toLocaleString('de-DE')} km`}
    className="mt-1 space-y-0.5"
  >
    <div class="flex w-full">
      <div
        style={{ width: `max(0px, ${(childData.bike_length / childData.max_length) * 100}%)` }}
        class={twJoin('h-1.5 rounded-xs', hideGraph ? '' : 'bg-amber-500')}
      >
      </div>
    </div>
    <div class="flex w-full">
      <div
        style={{ width: `max(0px, ${(childData.road_length / childData.max_length) * 100}%)` }}
        class={twJoin('h-1.5 rounded-xs', hideGraph ? '' : 'bg-amber-100')}
      >
      </div>
    </div>
  </Tooltip>
</figure>
