---
import { tildaStatisticsApiUrl } from '@components/fetch/tildaApiUrl.const'

const { data } = Astro.props
---

<div class="prose prose-sm prose-slate my-20 text-gray-400 hover:text-gray-700">
  <hr />
  <details>
    <summary class="cursor-pointer hover:underline"
      >Rohdaten {Array.isArray(data) ? <>({data.length})</> : ''}</summary
    >
    <a href={tildaStatisticsApiUrl}><pre>{tildaStatisticsApiUrl}</pre></a>
    <pre>{JSON.stringify(data, undefined,2)}</pre>
  </details>
</div>
