---
import MapillaryLogo from '../../assets/logos/mapillary.svg'

type Props = {
  title: string
}
const { title } = Astro.props

const isMapillary = title.endsWith('(Mapillary)')
const titleText = isMapillary ? title.replace('(Mapillary)', '') : title
---

<span class="flex items-center gap-2">
  {titleText}
  {
    isMapillary && (
      <span title="Kampagne ist gefiltert auf Wege die Mapillary Fotos haben.">
        <MapillaryLogo class="size-4 rounded-full" />
      </span>
    )
  }
</span>
