---
import { micromark } from 'micromark'
import { twJoin } from 'tailwind-merge'

export type PageHeadlineProps = {
  headline: string
  category?: string | undefined
  intro?: string | undefined
}
type Props = PageHeadlineProps

const { headline, category, intro } = Astro.props

const headlineHtml = micromark(headline).replaceAll('<p>', '').replaceAll('</p>', '')
const introHtml = intro
  ? micromark(intro).replaceAll('</p>\n<p>', '<br />').replaceAll('<p>', '').replaceAll('</p>', '')
  : undefined
---

<header>
  <div
    class={twJoin(
      'prose prose-white prose-invert',
      'prose-lead:text-xl prose-lead:leading-snug prose-lead:text-teal-50 prose-lead:mt-2.5',
      'prose-p:first-child:my-0 prose-p:font-serif',
      'prose-h1:mt-0 prose-h2:mt-0',
      'prose-h1:text-white prose-headings:font-bold',
      'prose-strong:text-teal-100',
      'rounded-sm p-4 [--tw-prose-bullets:_white]',
      'mb-12 bg-teal-800 shadow',
    )}
  >
    <h1 class="!m-0">
      {category && <span class="block text-base font-normal uppercase">{category}</span>}
      <Fragment set:html={headlineHtml} />
    </h1>

    {intro && <p class="lead" set:html={introHtml} />}
  </div>
</header>
