---
import Link from '@components/links/Link.astro'

const { label, href, newWindow = true } = Astro.props
---

<p>
  <Link to={href} button className="my-0" blank={newWindow}>
    {label}
  </Link>
</p>
