---
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/24/solid'
import { Picture } from 'astro:assets'
import { twJoin, twMerge } from 'tailwind-merge'

export type CardProps = {
  href: string
  text?: string
  alt?: string | undefined | null
  image?: ImageMetadata | undefined
}

const { href, text, alt, image } = Astro.props

const external = href.startsWith('http')
---

<a
  href={href}
  class={twMerge(
    'group/card not-prose flex grow flex-col items-center justify-center rounded-sm border border-teal-100 bg-teal-900 no-underline ring-teal-100 hover:ring-1',
    'bg-white hover:bg-teal-100/70',
  )}
  title={alt}
  target={external ? '_blank' : undefined}
>
  {
    image && (
      <Picture
        src={image}
        height={160}
        densities={[1.5, 2]}
        formats={['png', 'avif']}
        class={twJoin('m-0 max-h-20 w-full object-contain', 'max-w-40')}
        pictureAttributes={{
          class: 'not-prose w-full flex items-center justify-center m-3 mb-0 min-h-20',
        }}
        alt=""
      />
    )
  }
  <h2
    data-noanchor
    class={twJoin(
      'not-prose my-1 flex items-center gap-1 px-2 py-0 text-center font-sans leading-tight font-medium tracking-wide',
      'text-teal-800 group-hover/card:text-black',
    )}
  >
    {text ? text : 'Mehr erfahren…'}
    {external ? <ArrowTopRightOnSquareIcon className="size-4 flex-none" /> : ''}
  </h2>
  <div class="m-0 p-2 pt-0 text-center text-xs text-gray-500">
    <slot />
  </div>
</a>
