---
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/24/solid'
import { Picture } from 'astro:assets'
import { twJoin } from 'tailwind-merge'

export type CardProps = {
  href: string
  text?: string
  alt?: string | undefined | null
  image?: ImageMetadata | undefined
  variant: 'iconGrid' | 'iconImageGrid'
}

const { href, text, alt, image, variant } = Astro.props

const external = href.startsWith('http')
---

<a
  href={href}
  class="group/card not-prose flex grow flex-col items-center justify-center rounded-sm border border-teal-100 bg-teal-900 text-teal-100 no-underline ring-teal-100 hover:bg-teal-100/70 hover:text-teal-950 hover:ring-1"
  title={alt}
  target={external ? '_blank' : undefined}
>
  {
    image && (
      <Picture
        src={image}
        height={160}
        densities={[1.5, 2]}
        formats={['png', 'avif']}
        class="m-0 max-h-20 w-full max-w-20 object-cover"
        pictureAttributes={{
          class: 'not-prose w-full flex items-center justify-center m-3 mb-0 min-h-20',
        }}
        alt=""
      />
    )
  }
  <div
    class={twJoin(
      variant === 'iconImageGrid' ? 'h-20 w-full border-b border-gray-50' : 'pt-2',
      'm-0 flex items-center justify-center',
    )}
  >
    <slot />
  </div>
  <h2
    data-noanchor
    class="not-prose mt-1 mb-3 flex items-center gap-1 px-2 py-0 text-center font-sans leading-tight font-medium tracking-wide text-teal-200 group-hover/card:text-black"
  >
    {text ? text : 'Mehr erfahren…'}
    {external ? <ArrowTopRightOnSquareIcon className="size-4 flex-none" /> : ''}
  </h2>
</a>
