---
import ArrowTopRightOnSquare from 'astro-heroicons/outline/ArrowTopRightOnSquare.astro'

export type CardProps = {
  href: string
  title?: string
  text?: string
  label?: string
  alt?: string | undefined | null
}

const { href, title, text, label, alt } = Astro.props

const external = href.startsWith('http')
---

<a
  href={href}
  class="group/card justify-left not-prose flex items-center gap-4 rounded-sm bg-teal-900 p-4 text-teal-100 no-underline ring-1 ring-teal-100 hover:bg-teal-100/70 hover:text-teal-800 hover:ring-1"
  title={alt}
  target={external ? '_blank' : undefined}
>
  <div class="flex w-14 flex-none items-center justify-center">
    <slot />
  </div>

  <div class="grow">
    <div class="flex items-center justify-between">
      <h2
        data-noanchor
        class="justify-left not-prose flex items-center gap-1 py-0 text-left font-medium text-teal-200 group-hover/card:text-black"
      >
        {title ? title : 'Mehr erfahren…'}
        {external ? <ArrowTopRightOnSquare class="size-5" /> : ''}
      </h2>
      {
        label && (
          <span class="inline-flex items-center rounded-full bg-teal-100 px-2 py-0.5 text-xs font-medium tracking-wide text-teal-800 group-hover/card:bg-teal-800 group-hover/card:text-teal-100">
            {label}
          </span>
        )
      }
    </div>
    {
      text && (
        <p class="!mt-1 text-sm leading-tight text-teal-100 group-hover/card:text-teal-900">
          {text}
        </p>
      )
    }
  </div>
</a>
