---
import ArrowTopRightOnSquare from 'astro-heroicons/outline/ArrowTopRightOnSquare.astro'

export type CardProps = {
  href: string
  title?: string
  text?: string
  label?: string
  alt?: string | undefined | null
}

const { href, title, text, label, alt } = Astro.props

const external = href.startsWith('http')
---

<a
  href={href}
  class="group/card justify-left flex items-center gap-4 rounded-sm bg-gray-100 p-4 no-underline ring-sky-100 hover:bg-cyan-50 hover:ring-1"
  title={alt}
  target={external ? '_blank' : undefined}
>
  <div class="flex w-14 flex-none items-center justify-center">
    <slot />
  </div>

  <div class="grow">
    <div class="flex items-center justify-between">
      <h2
        class="justify-left not-prose mt-1 flex items-center gap-1 py-0 text-left underline decoration-cyan-300 decoration-1 underline-offset-4"
      >
        {title ? title : 'Mehr erfahren…'}
        {external ? <ArrowTopRightOnSquare class="size-5" /> : ''}
      </h2>
      {
        label && (
          <span class="inline-flex items-center rounded-full bg-sky-100 px-1.5 py-0.5 text-xs font-medium text-cyan-700 group-hover/card:bg-white/80">
            {label}
          </span>
        )
      }
    </div>
    {text && <p class="!mt-1 text-sm leading-tight text-gray-600">{text}</p>}
  </div>
</a>
