---
import { twMerge } from 'tailwind-merge'
import { buttonStyles, linkStyles } from './styles'
import type { HTMLAttributes } from 'astro/types'

type Props = {
  tel: string
  className?: string
  /** @desc Style Link as Button */
  button?: boolean
} & HTMLAttributes<'a'>

const { className, tel, button, children, ...props } = Astro.props
---

<a href={`tel:${tel}`} class={twMerge(button ? buttonStyles : linkStyles, className)} {...props}>
  <slot>{tel}</slot>
</a>
