---
import { twMerge } from 'tailwind-merge'
import { buttonStyles, linkStyles } from './Link'
import type { HTMLAttributes } from 'astro/types'

type Props = {
  className?: string
  mailto?: string
  blank?: boolean
  /** @desc Style Link as Button */
  button?: boolean
} & HTMLAttributes<'a'>

const { className, mailto, button, children, ...props } = Astro.props
---

<a
  href={`mailto:${mailto || children}`}
  class={twMerge(button ? buttonStyles : linkStyles, className)}
  rel="noopener noreferrer"
  {...props}
>
  <slot>{mailto}</slot>
</a>
