---
export const prerender = true
//
import About from '@components/page_statistik/About.astro'
import Beta from '@components/page_statistik/Beta.astro'
import CardLength from '@components/page_statistik/CardLength.astro'
import CardPercentageBikelanes from '@components/page_statistik/CardPercentageBikelanes.astro'
import CardPercentageCategoriesDetails from '@components/page_statistik/CardPercentageCategoriesDetails.astro'
import PageHeadline from '@components/text/PageHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const bundeslaender = await getCollection('statistics', ({ data }) => {
    // We could check for data.properties.hasChildren here but we do the same in `addProperties` so slug is undefined when no children
    return !!data.properties.slug
  })
  return bundeslaender.map((bundesland) => ({
    params: { slug: bundesland.data.properties.slug },
    props: bundesland,
  }))
}
type Props = CollectionEntry<'statistics'>

const { data, id: bundeslandId } = Astro.props
---

<LayoutArticle title="Karte der Radinfrastruktur in Deutschland">
  <PageHeadline
    category="Statistische Auswertung"
    headline={`Statistik für die Landkreise in ${data.properties.name}`}
    intro="Statistiken zur vorhandenen Radinfrastruktur pro Landkreis. Basierend auf den aufbereiteten Radinfrastrukturdaten aus OpenStreetMap."
  />

  <Beta />

  <ProseSection classes="@container mt-12 max-w-[90rem] lg:mr-12">
    <!-- <h2>Vergleich auf Bundesebene</h2> -->

    <CardPercentageCategoriesDetails levelKey="landkreis" bundeslandId={bundeslandId} />

    <!-- We use container queries to change the columns -->
    <div class="mt-12 grid gap-6 @3xl:grid-cols-2 @4xl:grid-cols-2">
      <CardPercentageBikelanes levelKey="landkreis" bundeslandId={bundeslandId} />
      <CardLength levelKey="landkreis" bundeslandId={bundeslandId} />
    </div>
  </ProseSection>

  <ProseSection classes="prose-p:my-3">
    <About />
  </ProseSection>
</LayoutArticle>
