---
export const prerender = true
//
import About from '@components/page_statistik/About.astro'
import CardLength from '@components/page_statistik/CardLength.astro'
import CardPercentageBikelanes from '@components/page_statistik/CardPercentageBikelanes.astro'
import CardPercentageCategories from '@components/page_statistik/CardPercentageCategories.astro'
import PageHeadline from '@components/text/PageHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import { slugify } from '@components/utils/slugify'
import LayoutArticle from '@layouts/LayoutArticle.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const bundeslaender = await getCollection('statistics', ({ data }) => {
    return data.properties.level === '4'
  })
  return bundeslaender.map((bundesland) => ({
    params: { slug: slugify(bundesland.data.properties.name) },
    props: bundesland,
  }))
}
type Props = CollectionEntry<'statistics'>

const { data, id: bundeslandId } = Astro.props
---

<LayoutArticle title="Karte der Radinfrastruktur in Deutschland">
  <PageHeadline
    category="Statistische Auswertung"
    headline={`Statistik für die Landkreise in ${data.properties.name}`}
    intro="Statistiken zur vorhandenen Radinfrastruktur pro Landkreis. Basierend auf den aufbereiteten Radinfrastrukturdaten aus OpenStreetMap."
  />

  <ProseSection id="bund" classes="mr-12 max-w-none">
    <!-- <h2>Vergleich auf Bundesebene</h2> -->

    <div class="grid gap-6 lg:grid-cols-3">
      <CardPercentageBikelanes level="landkreis" bundeslandId={bundeslandId} />
      <CardLength level="landkreis" bundeslandId={bundeslandId} />
      <CardPercentageCategories level="landkreis" bundeslandId={bundeslandId} />
    </div>
  </ProseSection>

  <ProseSection classes="prose-p:my-3">
    <About />
  </ProseSection>
</LayoutArticle>
