---
import StackedCardWrapper from '@components/cards/StackedCardWrapper.astro'
import { Link } from '@components/Link/Link'
import CardsMitmachen from '@components/page_mitmachen/CardsMitmachen.astro'
import PageHeadline from '@components/text/PageHeadline.astro'
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/20/solid'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { Picture } from 'astro:assets'
import pngKarte from '../assets/homepage/karte-deutschland.png'
---

<LayoutArticlePageAstro title="Radinfrastruktur Deutschland">
  <!-- Flächendeckend&hairsp;・&hairsp;Standardisiert&hairsp;・&hairsp;Aktuell -->
  <PageHeadline
    headline="Radinfrastruktur Deutschland"
    intro="radinfra.de liefert detaillierte und standardisierte Daten zur Radinfrastruktur für ganz Deutschland – täglich aktualisiert und fortlaufend aktualisierbar in OpenStreetMap (OSM)."
  />

  <article>
    <a
      href="https://radverkehrsatlas.de/regionen/radinfra?map=6.1/51.312/10.529&config=v92cax.1utl.3dc&v=2"
      target="_blank"
      class="group my-5 block hover:no-underline"
    >
      <figure
        class="no-unde overflow-clip rounded-sm border border-teal-100 hover:bg-teal-100/70 hover:text-black"
      >
        <Picture
          src={pngKarte}
          width={655}
          densities={[1.5, 2]}
          formats={['png', 'avif']}
          class="w-full border-b border-teal-100 object-cover"
          pictureAttributes={{ class: 'not-prose w-full' }}
          alt=""
        />
        <p class="flex items-center justify-end gap-1 pr-2 pb-0.5">
          Direkt zur Radinfrastrukturkarte im Radverkehrsatlas <ArrowTopRightOnSquareIcon
            className="size-4"
          />
        </p>
      </figure>
    </a>

    <h2 id="einleitung">Einheitliche Daten auf dem Weg zum Fahrradland Deutschland</h2>
    <p>
      Radinfra.de bietet erstmals einen Überblick zur Radinfrastruktur für ganz Deutschland. Die
      aufbereiteten OpenStreetMap Daten zeigen standardisiert nach Führungsformen, wie es um den
      Bestand von Radwegen steht. Über verschiedene Ansichten analysiert die Seite außerdem, wie gut
      die Daten in welcher Region vorliegen und wo sie verbessert werden können.
    </p>
    <p>
      Radinfra.de macht die Daten für die Öffentlichkeit sowie die planende Verwaltung zugänglich
      und hilft, diese systematisch zu verbessern. Die Nutzung der freien Geodatenbank OpenStreetMap
      bietet den großen Vorteil standardisierter und routingfähiger Daten, die fortlaufend
      verbessert und aktualisiert werden können. Um diePotentiale von OSM insbesondere für die
      Radverkehrsplanung zu heben, prozessiert diese Seite die Rohdaten für Zwecke der
      Verkehrsplanung und bietet Bürger:innen einfache Möglichkeiten, die Daten systematisch zu
      verbessern.
    </p>
  </article>

  <article>
    <h2 id="statistik">Vergleich Bundesländer</h2>
    <p><coede>TODO</coede></p>
  </article>

  <article>
    <h2 id="fuer-wen">Für wen ist diese Seite?</h2>
    <h3>OpenStreetMap-Aktive und Radfahrende</h3>
    <p>
      Wenn du mithelfen möchtest, die Daten zur Radinfrastruktur zu vervollständigen, kannst du auf
      der Karte sehen, wie gut Radwege und ihre Details bereits in deiner Region erfasst sind. Über
      die Darstellungen zu Vollständigkeit und Aktualität kannst du sehen, wo die Daten noch
      verbessert werden können. Über die <a href="/kampagnen">verschiedenen Kampagnen</a> kannst du direkt
      daran mitwirken, die Daten zu verbessern. Du hilfst damit den Planenden schneller und gezielter
      neue Radwege zu bauen.
    </p>

    <h3 id="planerinnen">Verwaltungsmitarbeitende und Planer:innen</h3>
    <p>
      Amtliche Daten zu Radinfrastruktur sind oft veraltet, ungenau, veraltet oder gar nicht
      vorhanden. Über radinfra.de finden jetzt alle Verwaltungen in Deutschland leicht zugänglich
      standardisierte und für Aufgaben der Verkehrsplanung aufbereitete Daten zur vorhandenen
      Radinfrastruktur. Sollten Daten fehlen oder nicht aktuell sein, gibt es eine einfache
      Möglichkeit, <a href="/mitmachen/hinweise">Hinweise an die OSM-Community zu erstellen</a>,
      damit die Daten verbessert werden können. Wollen Sie als Verwaltung die Daten professionell
      und dauerhaft nutzen, finden Sie unter <a href="/angebote">Angebote für Kommunen</a> weitere Informationen.
    </p>
  </article>

  <article>
    <h2 id="daten">Woher kommen die Daten?</h2>
    <p>
      Dank OpenStreetMap (OSM) können für ganz Deutschland einheitliche Daten produziert werden, die
      sowohl beschilderte als auch unbeschilderte Radinfrastruktur abbilden. Die Systematik von OSM
      ist aber kompliziert und wird teilweise unterschiedlich verwendet. Deswegen werden die
      Rohdaten aus OpenStreetMap aufbereitet, vereinheitlicht, teilweise geometrisch transformiert
      und nach Führungsform klassifiziert und in verschiedenen Layer interaktiv nutzbar gemacht, um
      eine ideale Nutzung für Planungszwecke zu ermöglichen.
    </p>
    <p>
      <strong>Täglich aktuelle Daten: </strong> Eine Stärke von OpenStreetMap ist ihr schneller Aktualisierungszyklus.
      Die hier zusehenden Daten werden jede Nacht aktualisiert. Das heißt, in OSM gemachte Änderungen
      sind schon am nächsten Tag auf radinfra.de zu sehen.
    </p>
  </article>

  <!-- <section class="notice prose-sm mt-16 gap-5 bg-emerald-100 sm:flex">
    <iframe
      class="aspect-video w-full overflow-hidden rounded-sm"
      src="https://media.ccc.de/v/fossgis2022-14174-mit-osm-die-verkehrswende-begleiten-tagging-tools-und-analysen/oembed"
      allowfullscreen></iframe>
    <div>
      <h2 class="sr-only" id="video">Vortrag FOSSGIS 2022</h2>
      <p>
        Eine 20-Minunte-Zusammenfassung der Ziele und Projekte der OSM-Verkehrswende-Community. Ein
        Vortrag von der
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/FOSSGIS-2022#Vortrag">
          FOSSGIS-Konferenz 2022
        </a>
        von Alex und Tobias.
      </p>
    </div>
  </section> -->

  <article>
    <h2 id="betreiber">Wer steckt hinter dieser Seite?</h2>
    <p>
      Hinter radinfra.de steckt ein breites Bündnis von Verbänden, Institutionen und Unternehmen,
      die sich für die Radverkehrsförderung in Deutschland einsetzen. <Link to="/partner"
        >Partner anzeigen…</Link
      >
    </p>
  </article>

  <StackedCardWrapper
    headline="Wie kann ich helfen die Daten zu verbessern?"
    sectionClasses="mt-16"
  >
    <p>
      Du willst mithelfen die Daten zu verbessern? Großartig – Unter <Link to="/mitmachen"
        >Mitmachen</Link
      > findest du eine Vielzahl an Möglichkeiten zu besseren Daten beizutragen.
    </p>
    <CardsMitmachen />
  </StackedCardWrapper>
</LayoutArticlePageAstro>
