---
import GridCard from '@components/cards/GridCard.astro'
import GridCardWrapper from '@components/cards/GridCardWrapper.astro'
import Notice from '@components/Notice.astro'
import CardsMitmachen from '@components/page_mitmachen/CardsMitmachen.astro'
import { CalendarDaysIcon, RectangleStackIcon } from '@heroicons/react/24/solid'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { Picture } from 'astro:assets'
import pngKarte from '../assets/homepage/karte-deutschland.png'
---

<LayoutArticlePageAstro title="Radinfrastruktur für Deutschland">
  <header class="not-prose">
    <h1
      class="bg-gradient-to-br from-cyan-500 to-sky-600 bg-clip-text pb-2 text-4xl font-extrabold leading-8 text-transparent md:text-6xl md:leading-[3.25rem]"
    >
      Radinfrastrukturdaten für das Fahrradland Deutschland
    </h1>
    <p class="-mt-2 text-3xl font-bold text-sky-600">
      Flächendeckend&hairsp;・&hairsp;Standardisiert&hairsp;・&hairsp;Aktuell
    </p>
  </header>

  <Notice className="mb-8 mt-10">
    <p class="lead">
      radinfra.de liefert detaillierte und aufbereitete Daten zur Radinfrastruktur für ganz
      Deutschland – täglich aktualisiert und fortlaufend verbessert in OpenStreetMap.
    </p>
  </Notice>

  <section>
    <a href="/karte" class="group">
      <Picture
        src={pngKarte}
        width={655}
        densities={[1.5, 2]}
        formats={['png', 'avif']}
        class="my-5 w-full overflow-clip rounded border border-gray-100 object-cover group-hover:border-cyan-300"
        pictureAttributes={{ class: 'not-prose w-full' }}
        alt=""
      />
    </a>

    <h2 class="sr-only">Einleitung</h2>
    <p>
      Radinfra.de bietet erstmals einen Überblick zur Radinfrastruktur für ganz Deutschland. Die
      aufbereiteten OpenStreetMap Daten zeigen standardisiert nach Führungsformen, wie es um den
      Ausbau von Radwegen steht. Über verschiedene Ansichten analysiert die Seite außerdem, wie gut
      die Daten in welcher Region vorliegen und wo sie verbessert werden können.
    </p>

    <p>
      Radinfra.de macht die Daten für die Öffentlichkeit sowie die planende Verwaltung zugänglich
      und hilft, diese systematisch zu verbessern. Die Nutzung der freien Geodatenbank OpenStreetMap
      bietet den großen Vorteil standardisierter und routingfähiger Daten, die fortlaufend
      verbessert und aktualisiert werden können. Um diese Potentiale insbesondere für die Planung
      von Radinfrastruktur zu heben, bietet diese Seite die Möglichkeit, die Daten systematisch zu
      verbessern und Ihre Qualität einzusehen. Für Verwaltungen und Planungsbüros <a
        href="/angebote">bietet FixMyCity</a
      >
      außerdem die Möglichkeit, Daten professionell zu verifizieren und für die Nutzung in GIS-Anwendungen
      fortlaufend aktuell zu halten.
    </p>

    <h2>Für wen ist diese Seite?</h2>

    <h3>OpenStreetMap-Aktive und Radfahrende</h3>
    <p>
      Wenn du mithelfen möchtest, die Daten zur Radinfrastruktur zu vervollständigen, kannst du auf
      der Karte sehen, wie gut Radwege und ihre Details bereits in deiner Region erfasst sind. Über
      die Darstellungen zu Vollständigkeit und Aktualität kannst du sehen, wo die Daten noch
      verbessert werden können. Über die <a href="/kampagnen">verschiedenen Kampagnen</a> kannst du direkt
      daran mitwirken, die Daten zu verbessern. Du hilfst damit den Planenden schneller und gezielter
      neue Radwege zu bauen.
    </p>

    <h3>Verwaltungsmitarbeitende und Planer:innen</h3>
    <p>
      Amtliche Daten zu Radinfrastruktur sind oft veraltet, ungenau, veraltet oder gar nicht
      vorhanden. Über Radinfra.de finden jetzt alle Verwaltungen in Deutschland leicht zugänglich
      standardisierte und für Aufgaben der Verkehrsplanung aufbereitete Daten zur vorhandenen
      Radinfrastruktur. Sollten Daten fehlen oder nicht aktuell sein, gibt es eine einfache
      Möglichkeit, <a href="/mitmachen/hinweise">Hinweise an die OSM-Community zu erstellen</a>,
      damit die Daten verbessert werden können. Wollen Sie als Verwaltung die Daten professionell
      und dauerhaft nutzen, finden Sie unter <a href="/angebote">Angebote für Kommunen</a> weitere Informationen.
    </p>

    <h3>Forschende</h3>
    <p>
      Für diverse Forschungsaufgaben werden bereits jetzt OpenStreetMap-Daten genutzt. Mit
      radinfra.de wird es für Forschende jetzt deutlich einfacher Daten zu beschaffen und damit
      Analysen durchzuführen. Die Daten sind offen und frei nutzbar. Wollen Sie als Forschende die
      Daten nutzen, finden Sie unter <a href="/angebote#forschung">Angebote für die Forschung</a> weitere
      Informationen.
    </p>

    <h2>Wie entstehen die Daten?</h2>

    <p>
      Dank OpenStreetMap (OSM) können für ganz Deutschland einheitliche Daten produziert werden, die
      sowohl beschilderte als auch unbeschilderte Radinfrastruktur abbilden. Die Systematik von OSM
      ist aber kompliziert und wird teilweise unterschiedlich verwendet. Deswegen werden die
      Rohdaten aus OpenStreetMap aufbereitet, vereinheitlicht, teilweise geometrisch transformiert
      und nach Führungsform klassifiziert, um eine einfache Nutzung für Planungszwecke zu
      ermöglichen.
    </p>

    <p>
      <strong>Täglich aktuelle Daten: </strong> Eine Stärke von OpenStreetMap ist ihr schneller Aktualisierungszyklus.
      Die hier zusehenden Daten werden jede Nacht aktualisiert. Das heißt, in OSM gemachte Änderungen
      sind schon am nächsten Tag auf radinfra.de zu sehen.
    </p>
  </section>

  <!-- <section class="notice prose-sm mt-16 gap-5 bg-emerald-100 sm:flex">
    <iframe
      class="aspect-video w-full overflow-hidden rounded"
      src="https://media.ccc.de/v/fossgis2022-14174-mit-osm-die-verkehrswende-begleiten-tagging-tools-und-analysen/oembed"
      allowfullscreen></iframe>
    <div>
      <h2 class="sr-only" id="video">Vortrag FOSSGIS 2022</h2>
      <p>
        Eine 20-Minunte-Zusammenfassung der Ziele und Projekte der OSM-Verkehrswende-Community. Ein
        Vortrag von der
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/FOSSGIS-2022#Vortrag">
          FOSSGIS-Konferenz 2022
        </a>
        von Alex und Tobias.
      </p>
    </div>
  </section> -->

  <!-- <GridCardWrapper headline="Angebote" sectionClasses="mt-16">
    <GridCard href="/karte" text="Karte" alt="Karte im Radverkehrsatlas öffnen…" variant="iconGrid">
      <MapIcon className="size-10" />
    </GridCard>
    <GridCard href="/kampagnen" text="Kampagnen" alt="Zur Kampagnen-Übersicht…" variant="iconGrid">
      <RectangleStackIcon className="size-10" />
    </GridCard>
  </GridCardWrapper> -->

  <CardsMitmachen headline="Mitmachen" />

  <GridCardWrapper headline="Kontakt" sectionClasses="mt-16">
    <GridCard
      href="/kontakt"
      text="Monatliche Meetups"
      alt="Kontakt zur Community…"
      variant="iconGrid"
    >
      <CalendarDaysIcon className="size-10" />
    </GridCard>
    <GridCard href="/beratung" text="Beratung" alt="Angebote für Verwaltungen…" variant="iconGrid">
      <RectangleStackIcon className="size-10" />
    </GridCard>
  </GridCardWrapper>

  <GridCardWrapper headline="Partner" sectionClasses="mt-16">
    <code>TODO</code>
  </GridCardWrapper>
</LayoutArticlePageAstro>
