---
import GridCard from '@components/cards/GridCard.astro'
import GridCardWrapper from '@components/cards/GridCardWrapper.astro'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import {
  ShieldCheckIcon,
  MapIcon,
  CalendarDaysIcon,
  RectangleStackIcon,
} from '@heroicons/react/24/solid'
import Notice from '@components/Notice.astro'
import CardsMitmachen from '@components/page_mitmachen/CardsMitmachen.astro'
---

<LayoutArticlePageAstro title="Radinfrastruktur für Deutschland">
  <header class="not-prose">
    <h1
      class="bg-gradient-to-br from-cyan-500 to-sky-600 bg-clip-text pb-2 text-4xl font-extrabold leading-8 text-transparent md:text-6xl md:leading-[3.25rem]"
    >
      Radinfrastrukturdaten für Deutschland
    </h1>
    <p class="-mt-2 text-3xl font-bold text-sky-600">Flächendeckend, Einheitlich, Aktuell</p>
  </header>

  <Notice className="mb-8 mt-10">
    <p class="lead">
      radinfra.de liefert detaillierte und aufbereitete Daten zur Radinfrastruktur für ganz
      Deutschland – täglich aktualisiert durch Beiträge aus der Verwaltung und von Ehrenamtlichen in
      OpenStreetMap.
    </p>
  </Notice>

  <Notice colorClass="bg-pink-100 text-pink-800 prose-pink" className="mb-8 mt-8">
    <div class="flex items-center gap-3">
      <ShieldCheckIcon className="size-9" />
      <div>
        <h2 class="!mb-0 text-lg text-pink-900">Diese Seite ist im Aufbau.</h2>
        <p class="!m-0">
          Sie wird <a
            href="https://pretalx.com/fossgis2025/talk/review/98VFKNSGRX8DWKHBH8KUDD8ZZST7WCX9"
            target="_blank">auf dem FOSSIGS Vortrag am 28.3.2025</a
          > offiziell vorgestellt.
        </p>
      </div>
    </div>
  </Notice>

  <section>
    <h2 class="sr-only">Einführung</h2>
    <p>
      OpenStreetMap bietet die einzigen flächendeckend verfügbaren und standardisierten
      Radinfrastrukturdaten in Deutschland. Um diese Daten für die Öffentlichkeit sowie für die
      planende Verwaltung zugänglich zu machen und systematisch zu verbessern, wurde radinfra.de
      entwickelt.
    </p>

    <p>
      Daten zur Radinfrastruktur liegen in Deutschland sehr fragmentiert vor. Amtliche Daten sind
      nicht standardisiert, veraltet, ungenau oder gar nicht vorhanden. OSM bietet systematische
      Daten zur Radinfrastruktur, die fortlaufend aktuell gehalten werden können. Bisher wird dieses
      Potenzial nur ansatzweise genutzt, denn die Daten in OSM sind nicht einfach zugänglich und
      bedürfen weiterer Pflege und Detaillierung.
    </p>

    <p>
      Unter radinfra.de ist jetzt ein neuer Anlaufpunkt für alle entstanden, die sich für offene
      Radinfrastrukturdaten interessieren und mithelfen wollen, diese zu verbessern.
    </p>

    <h3>Einheitliche Daten für ganz Deutschland:</h3>
    <p>
      Dank OpenStreetMap können für ganz Deutschland einheitliche Daten produziert werden, die
      sowohl beschilderte als auch unbeschilderte Radinfrastruktur abbilden. Dabei werden die
      Rohdaten aus OpenStreetMap aufbereitet, vereinheitlicht und nach Führungsform klassifiziert,
      um eine einfache Nutzung für Planungszwecke zu ermöglichen.
    </p>

    <h3>Täglich aktuelle Daten:</h3>
    <p>
      Eine Stärke von OpenStreetMap ist ihr schneller Aktualisierungszyklus. Änderungen sind schon
      am nächsten Tag in den Daten zu sehen.
    </p>

    <h3>Kampagnen zur Datenpflege:</h3>
    <p>
      Neben dem einfachen Zugang zu Radinfrastruktur-Daten ist die Datenpflege ein zweites Ziel des
      Projekts. Dafür werden aus den Daten <a href="/kampagnen">verschiedene Kampagnen</a> zur Aktualität,
      Vollständigkeit und Richtigkeit der Daten abgeleitet. Ziel ist es, die Daten immer weiter zu verbessern
      und Attribute wie Breiten und Oberflächen systematisch zu erfassen.
    </p>
  </section>

  <!-- <section class="notice prose-sm mt-16 gap-5 bg-emerald-100 sm:flex">
    <iframe
      class="aspect-video w-full overflow-hidden rounded"
      src="https://media.ccc.de/v/fossgis2022-14174-mit-osm-die-verkehrswende-begleiten-tagging-tools-und-analysen/oembed"
      allowfullscreen></iframe>
    <div>
      <h2 class="sr-only" id="video">Vortrag FOSSGIS 2022</h2>
      <p>
        Eine 20-Minunte-Zusammenfassung der Ziele und Projekte der OSM-Verkehrswende-Community. Ein
        Vortrag von der
        <a href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/FOSSGIS-2022#Vortrag">
          FOSSGIS-Konferenz 2022
        </a>
        von Alex und Tobias.
      </p>
    </div>
  </section> -->

  <GridCardWrapper headline="Angebote" sectionClasses="mt-16">
    <GridCard href="/karte" text="Karte" alt="Karte im Radverkehrsatlas öffnen…" variant="iconGrid">
      <MapIcon className="size-10" />
    </GridCard>
    <GridCard href="/kampagnen" text="Kampagnen" alt="Zur Kampagnen-Übersicht…" variant="iconGrid">
      <RectangleStackIcon className="size-10" />
    </GridCard>
  </GridCardWrapper>

  <!-- <GridCardWrapper classes="mt-8">
    <p class="my-0 sm:col-span-2">
      Die Projekte der OSM Verkehrswende Gruppe könnten euch auch interessieren:
    </p>
    <GridCard
      href="https://www.osm-verkehrswende.org"
      text="OSM Verkehrswende Projekte"
      variant="iconGrid"
    >
      <QueueListIcon className="size-10" />
    </GridCard>
  </GridCardWrapper> -->

  <CardsMitmachen headline="Mitmachen" />

  <GridCardWrapper headline="Kontakt" sectionClasses="mt-16">
    <GridCard
      href="/kontakt"
      text="Monatliche Meetups"
      alt="Kontakt zur Community…"
      variant="iconGrid"
    >
      <CalendarDaysIcon className="size-10" />
    </GridCard>
    <GridCard href="/beratung" text="Beratung" alt="Angebote für Verwaltungen…" variant="iconGrid">
      <RectangleStackIcon className="size-10" />
    </GridCard>
  </GridCardWrapper>
</LayoutArticlePageAstro>
