---
import { twJoin } from 'tailwind-merge'

export type Props = {
  colorClass?: string | undefined
  className?: string | undefined
}

const { colorClass, className } = Astro.props
---

<div
  class={twJoin(
    'prose prose-white prose-invert',
    'prose-lead:text-xl prose-lead:leading-snug',
    'prose-p:first-child:my-0 prose-p:font-serif',
    'prose-h1:mt-0 prose-h1:text-white prose-h2:!mt-0',
    'prose-lead:text-teal-50',
    'prose-strong:text-teal-100',
    'rounded-sm p-4 [--tw-prose-bullets:_white]',
    className,
    colorClass || 'bg-teal-800',
  )}
  data-component="Notice"
>
  <slot />
</div>
