---
import GridCard from '@components/cards/GridCard.astro'
import GridCardWrapper from '@components/cards/GridCardWrapper.astro'
import { getCollection, render } from 'astro:content'

const partners = await getCollection('partners')
---

<GridCardWrapper sectionClasses="mt-16" headline="Unterstützernetzwerk">
  {
    partners.map(async (partner) => {
      const { id, data } = partner
      const { Content } = await render(partner)
      return (
        <GridCard key={id} href={data.url} title={data.title} image={data.logo} text="Zur Website…">
          <div class="mx-2 -mt-5 min-h-16 text-xs">
            <Content />
          </div>
        </GridCard>
      )
    })
  }
</GridCardWrapper>
