---
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/24/solid'
import { twJoin, twMerge } from 'tailwind-merge'

type Props = {
  href: string
  external?: boolean
  highlightExactMatch?: boolean
  indentation?: number
}

const { href, external: _external, highlightExactMatch, indentation } = Astro.props
const { pathname: currentPathname } = Astro.url
const external = _external === undefined ? href.startsWith('http') : _external
const exactMatch =
  // First condition for pages, last condition for homepage
  `${currentPathname}/` === href || currentPathname === href
const active = highlightExactMatch === true ? exactMatch : currentPathname.startsWith(href)
---

<a
  href={href}
  class={twMerge(
    active
      ? twJoin(
          'bg-teal-100 font-semibold',
          exactMatch
            ? 'cursor-text text-teal-950'
            : 'bg-teal-100/70 text-teal-950 hover:text-black',
        )
      : 'hover:bg-teal-100/70 hover:text-black',
    'group/item flex items-center justify-between border-t border-teal-100 py-2.5 pr-2 pl-4 leading-tight',
  )}
  aria-current={active}
  {...{ rel: external ? 'noopener noreferrer' : undefined }}
  {...{ target: external ? '_blank' : undefined }}
  style={indentation ? { paddingLeft: `${indentation * 0.65}rem` } : {}}
>
  {
    indentation ? (
      <div class="flex items-center justify-center gap-2">
        <div
          class={twMerge(
            'size-1 flex-none rounded-full',
            active ? 'bg-teal-950' : 'bg-teal-100 group-hover/item:bg-teal-950',
          )}
        />
        <slot />
      </div>
    ) : (
      <slot />
    )
  }

  {
    external && (
      <ArrowTopRightOnSquareIcon className="size-5 text-teal-100 group-hover/item:text-teal-950" />
    )
  }
</a>
