---
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/24/solid'
import { twJoin, twMerge } from 'tailwind-merge'

type Props = {
  href: string
  external?: boolean
  highlightExactMatch?: boolean
  indentation?: number
}

const { href, external: _external, highlightExactMatch, indentation } = Astro.props
const { pathname: currentPathname } = Astro.url
const external = _external === undefined ? href.startsWith('http') : _external
const exactMatch =
  // First condition for pages, last condition for homepage
  `${currentPathname}/` === href || currentPathname === href
const active = highlightExactMatch === true ? exactMatch : currentPathname.startsWith(href)
---

<a
  href={href}
  class={twMerge(
    active
      ? twJoin('bg-sky-50 font-semibold hover:bg-sky-50', exactMatch ? 'cursor-text' : '')
      : 'hover:bg-cyan-50',
    'group/item flex items-center justify-between border-b border-gray-200 py-2.5 pl-4 pr-2 leading-tight',
  )}
  data-item-active-debugger={active}
  {...{ rel: external ? 'noopener noreferrer' : undefined }}
  {...{ target: external ? '_blank' : undefined }}
  style={indentation ? { paddingLeft: `${indentation * 0.65}rem` } : {}}
>
  {
    indentation ? (
      <div class="flex items-center justify-center gap-2">
        <div class="size-1 rounded-full bg-gray-800" />
        <slot />
      </div>
    ) : (
      <slot />
    )
  }

  {
    external && (
      <ArrowTopRightOnSquareIcon className="size-5 text-gray-400 group-hover/item:text-gray-800" />
    )
  }
</a>
