---
import MegaButton from '@components/Link/MegaButton.astro'
import PageHeadline from '@components/text/PageHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
---

<LayoutArticlePageAstro title="Karten der Radinfrastruktur in Deutschland" noindex={true}>
  <PageHeadline
    category={undefined}
    headline="Karten"
    intro="Die Daten zur Radinfrasturktur in OpenStreetMap sind vielfältig. Diese Karten beleuchten verschiedene Aspekte."
  />

  <ProseSection>
    <p>
      Die Daten aus diesem Projekt stammen aus einer <strong
        >Kooperation mit dem Radverkehrsatlas</strong
      >. Dort werden die Daten aus OpenStreetMap täglich prozessiert und aufbereitet. Wir verlinken
      von hier aus in eine spezielle Ansicht des Radverkehrsatlas wo die Daten in einem WebGIS
      angeschaut werden können.
    </p>
  </ProseSection>

  <MegaButton
    href="https://radverkehrsatlas.de/regionen/radinfra"
    iconKey="map"
    label="Zur Karte"
    subline="Radinfrastrukturdaten für ganz Deutschland"
  />

  <h2>Spezialkarten zu Kampagnen</h2>

  <ProseSection>
    <p>
      <a href="/kampagnen">Jede Kampagnenseite</a> verlinkt auf eine Spezialkarten, die die Daten der
      Kampagne visualisiert.
    </p>
  </ProseSection>
</LayoutArticlePageAstro>
