---
import Debug from '@components/page_statistik/Debug.astro'
import { RadialBars } from '@components/page_statistik/graphs/RadialBars'
import Intro from '@components/page_statistik/Intro.astro'
import PageHeadline from '@components/text/PageHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticle from '@layouts/LayoutArticle.astro'
import { getCollection } from 'astro:content'

const statistics = await getCollection('statistics')
const bund = statistics
  .filter((stat) => stat.data.properties.level === '4')
  .sort((a, b) => a.data.properties.name.localeCompare(b.data.properties.name))
---

<LayoutArticle title="Statistik zu Radinfrastrukturdaten in Deutschland">
  <PageHeadline
    category={undefined}
    headline="Statistik"
    intro="Statistiken pro Bundesland und Landkreis. Basierend auf den aufbereiteten Radinfrastrukturdaten aus OpenStreetMap."
  />

  <ProseSection>
    <Intro />
    <a href="/statistik/landkreise">Landkreise Alpha</a>
  </ProseSection>

  <!-- <div class="my-10 mr-6">
    <TreemapGraph client:idle rawData={bund.map((d) => d.data)} height={200} width={800} />
  </div> -->

  <div class="mr-6 grid grid-cols-4 gap-4">
    {
      bund.map((bundesland) => {
        const data = Object.entries(bundesland.data.properties.bikelane_sum || {}).map(
          ([key, value]) => ({
            label: String(key[0]).toUpperCase(),
            value: value ?? 0,
            title: key,
          }),
        )
        // data.push({
        //   label: 'road',
        //   value: bundesland.data.properties.road_sum.all,
        //   title: 'road sum all',
        // })
        return (
          <div>
            <h2 class="mb-2 font-bold text-emerald-700">{bundesland.data.properties.name}</h2>
            <RadialBars client:visible data={data} width={300} height={300} />
          </div>
        )
      })
    }
  </div>

  <Debug data={bund} />
</LayoutArticle>
