---
import { twJoin } from 'tailwind-merge'

const { pathname: currentPathname } = Astro.url
---

<ul class="prose prose-sm mb-4 ml-3 flex flex-col gap-3 leading-snug">
  <li>
    <a class="underline hover:text-gray-500" href="https://github.com/FixMyBerlin/radinfra.de">
      Github: Code für die Website
    </a>
  </li>
  <li>
    <a
      class={twJoin(
        currentPathname === '/legal'
          ? 'font-bold text-black no-underline'
          : 'underline hover:text-gray-500',
      )}
      href="/legal"
      lang="de"
    >
      Datenschutz & Impressum
    </a>
  </li>
</ul>
