---
import RadinfraLogo from '../../assets/logos/radinfra-logo.svg'
---

<a href="/" class="flex items-center gap-5">
  <RadinfraLogo class="w-20 flex-none" />
  <div>
    <h1 class="text-base leading-none font-semibold text-teal-50 lg:text-xl">
      <span class="font-sans">Radinfrastruktur</span>
      <span class="font-serif lg:text-lg">Deutschland</span>
    </h1>
    <p class="mt-1 font-serif text-sm leading-tight text-teal-100">
      <span>OpenStreetMap</span>
    </p>
  </div>
</a>
