---
import RadinfraLogo from '../../assets/logos/radinfra-logo.svg'
---

<a href="/" class="flex items-center gap-5">
  <RadinfraLogo class="w-10 flex-none lg:w-20" />
  <div>
    <h1 class="text-sm leading-none font-semibold text-teal-50 lg:text-xl">
      <span class="font-sans">Radinfrastruktur</span>
      <span class="block font-serif lg:text-lg">Deutschland</span>
    </h1>
    <p class="mt-0.5 font-serif text-xs leading-tight text-teal-100 lg:mt-1 lg:text-sm">
      <span>OpenStreetMap</span>
    </p>
  </div>
</a>
