---
import { twJoin } from 'tailwind-merge'

const { pathname: currentPathname } = Astro.url

const links = [
  { name: 'OpenSource, OpenData', link: '/dokumentation/open-source' },
  { name: 'Dokumentation', link: '/dokumentation' },
  { name: 'Datenschutz & Impressum', link: '/legal' },
]
---

<ul
  class={twJoin(
    'prose prose-teal prose-invert prose-sm leading-snug',
    'prose-a:text-teal-100',
    'ml-3',
  )}
>
  {
    links.map(({ name, link }) => {
      return (
        <li>
          <a
            class={twJoin(
              'my-1 inline-block',
              currentPathname === link
                ? 'font-bold no-underline'
                : 'font-medium text-teal-100 underline hover:decoration-teal-50 hover:decoration-2',
            )}
            href={link}
            lang="de"
          >
            {name}
          </a>
        </li>
      )
    })
  }
</ul>
