@import "tailwindcss";
@config "../../tailwind.config.cjs";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";


@theme {
  --color-slate-*: initial;
  --color-zinc-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;

  --font-sans: 'Source Sans 3 Variable', 'sans-serif';
  --font-serif: 'Source Serif 4 Variable', 'serif';
}

@layer components {
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
     https://lukechannings.com/blog/2021-06-09-does-safari-15-fix-the-vh-bug/ */
  .computed-h-screen {
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100) - env(safe-area-inset-bottom));
  }
}
