---
import TailwindResponsiveHelper from './TailwindResponsiveHelper.astro'
import './base.css'
import type { LayoutLanguage } from './languages'
import pngSocialSharingFallback from '../../public/social-sharing.png'
import ScriptLinkifyHeadlines from '@components/scripts/ScriptLinkifyHeadlines.astro'

// https://fontsource.org/fonts/source-sans-3/install
import '@fontsource-variable/source-sans-3' // Supports weights 200-900
// https://fontsource.org/fonts/source-serif-4/install
import '@fontsource-variable/source-serif-4' // Supports weights 200-900

type Props = {
  title: string
  noindex?: boolean | undefined
  canonicalUrl?: string
  language?: LayoutLanguage | undefined
  description?: string
  image?: ImageMetadata | undefined
  imageAlt?: string
}

const fallback = {
  title: '', // TODO
  language: 'DE',
  description: '', // TODO
  image: pngSocialSharingFallback,
  imageAlt: '', // TODO
}

const { title, noindex, canonicalUrl, language, description, image, imageAlt } = Astro.props
---

<!doctype html>
<html lang={language || fallback.language} class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <slot name="meta" />

    <title>{title}</title>
    {noindex && <meta name="robots" content="noindex" />}
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

    <meta property="og:locale" content={language || fallback.language} />
    <meta property="og:title" content={title || fallback.title} />
    <meta property="og:description" content={description || fallback.description} />
    <meta property="og:image" content={image?.src || fallback.image.src} />
    <!-- We let the Twitter (…) figure out the given URL, so we don't accidentally overwrite params and such  -->
    <!-- <meta property="og:url" content="…"> -->
    <meta name="twitter:title" content={title || fallback.title} />
    <meta name="twitter:description" content={description || fallback.description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={image?.src || fallback.image.src} />
    <meta name="twitter:image:alt" content={imageAlt || fallback.imageAlt} />

    <meta name="twitter:site" content="@osmberlin" />
    <meta name="fediverse:creator" content="@osmberlin@en.osm.town" />

    <meta name="theme-color" content="#0b4f4a" />
    <meta name="generator" content={Astro.generator} data-generated-at={new Date().toISOString()} />

    <link rel="alternate" type="application/rss+xml" href="feed.xml" />
  </head>
  <body class="h-full bg-teal-900 text-base text-teal-50">
    <slot />
  </body>
  <TailwindResponsiveHelper />
  <ScriptLinkifyHeadlines />
</html>
