---
import { ArrowRightIcon } from '@heroicons/react/20/solid'
import { ArrowDownTrayIcon, DocumentTextIcon, MapIcon } from '@heroicons/react/24/outline'
import { RectangleStackIcon } from '@heroicons/react/24/outline'
import MapRouletteLogo from './assets/MapRouletteLogo.svg'
import { twMerge } from 'tailwind-merge'

type Props = {
  href: string
  iconKey: 'map' | 'stack' | 'maproulette' | 'document' | 'download'
  label: string
  subline?: string | undefined
  className?: string | undefined
}

const { href, iconKey, label, subline, className } = Astro.props
const newWindow = href.startsWith('http')
---

<div class={twMerge('not-prose @container mt-12', className)}>
  <a
    href={href}
    target={newWindow ? '_blank' : undefined}
    rel={newWindow ? 'noopener noreferrer' : undefined}
    class="group/button flex flex-row items-center gap-4 rounded-sm bg-gradient-to-br from-cyan-300 to-cyan-200 p-4 text-gray-950 shadow-md transition-all hover:from-sky-400 hover:to-sky-300 hover:shadow-xl @lg:px-10 @lg:py-8"
  >
    {
      (() => {
        switch (iconKey) {
          case 'map':
            return <MapIcon className="size-14 @lg:size-20" />
          case 'stack':
            return <RectangleStackIcon className="size-16 @lg:size-20" />
          case 'maproulette':
            return <img src={MapRouletteLogo.src} class="size-14 @lg:size-16" alt="" />
          case 'document':
            return <DocumentTextIcon className="size-16 @lg:size-20" />
          case 'download':
            return <ArrowDownTrayIcon className="size-16 @lg:size-20" />
        }
      })()
    }
    <div>
      <h2
        class="mb-0 flex items-center gap-1 text-2xl font-bold decoration-sky-600 decoration-1 underline-offset-4 group-hover/button:underline @lg:text-3xl"
      >
        {label}
        <ArrowRightIcon className="size-8" />
      </h2>
      {
        subline && (
          <p class="mt-1 mb-1 text-sm leading-tight text-gray-800 no-underline @lg:text-base">
            {subline}
          </p>
        )
      }
    </div>
  </a>
</div>
